@import "./base/normalize";
@import "./base/animation";
@import "./pages/login.scss";

body{
    background-color: #ffffff;
    font-family: "Microsoft YaHei","Helvetica Neue",HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,"Nimbus Sans L","Liberation Sans",Arial,sans-serif;
}
html, body, #app{
    height: 100%;
}
h1, h2, h3, h4, h5, div, p, ul{
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}
blockquote{
    padding: 5px 10px 5px 12px;
    color: #646464;
    border-left: 3px solid #d3d3d3;
    background-color: #f5f5f5;
    margin: 10px 0px;
}
a{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.pages{
    height: 100%;
    width: 100%;
}

.clearfix{
    &:after{
        content: '';
        display: block;
        height: 0px;
        clear: both;
    }
}


.transition-wrapper {
    position: relative;
    z-index: 1;
}

.transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.page{
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
    transition: transform 10s, opacity 10s;
    background-color: #ffffff;
    &-setting{
        background-color: #646464;
    }
    &-profile{
        background-color: #ff0000;
    }
    &-modify{
        background-color: #ffff00;
    }
    &-detail{
        background-color: #f0f9f0;
    }
    &-appear{
        &.fade-enter {
            opacity: .8;
            transform: translate3d(100%, 0, 0);
            &.fade-enter-active {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        &.fade-exit { 
            opacity: 1;
            transform: translate3d(0, 0, 0);
            &.fade-exit-active {
                opacity: 0;
                transform: translate3d(100%, 0, 0);
            }
        }
    }
    &-leave{
        &.fade-enter{
            opacity: .8;
            transform: translate3d(-100%, 0, 0);
            &.fade-enter-active {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        &.fade-exit {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            &.fade-exit-active {
                opacity: .8;
                transform: translate3d(-100%, 0, 0);
            }
        }
    }
}