$borderColor: #f0f0f0;
.home{
    &Title{
        margin: 20PX;
    }
    &Section{
        margin: 10PX 10PX 20PX 10PX;
        
        border: 1PX solid $borderColor;
        &-title{
            padding: 10PX 20PX;
            border-bottom: 1PX solid $borderColor;
            background-color: #fafafa;
        }
        &-content{
            padding: 20PX 20PX;
        }
    }
}